body{
   overflow-x: hidden;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

#scholar-html { 
  font-size: 70%; 
}
#scholar-body{
  background-color: #BAD0E7;
  overflow-x: hidden;

}



:root {
  /*========== Colors for resources page ==========*/
  --white-color: #fff;
  --black-color: hsl(210, 12%, 15%);
  --body-color: #B3C1DC;
  --container-color: #fff;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem; 
}
@media screen and (min-width: 1024px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*student resources page start*/
.resources-body{
  align-items: center;
  justify-content: center;
  height: auto;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;

}


.main-image {
    position: relative;
    background: url(../images/resources-bg.jpg) no-repeat center;
    background-size: cover;
    height: 80vh;
    overflow: hidden;
    background-attachment: fixed;
    
}

.res-con,.res-con-1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase; 
}
.res-con{
  top: 50%;
}
.res-con-1{
   top: 70%;
}
.res-con h1 ,.res-con-1 h1 {
    margin-top: 18%;
    font-size: 3em;
}

.res-con h1 span,.res-con-1 h1 span {
    border: 6px solid white;
    padding: 6px 14px;
    display: inline-block;
}

.cen {
    margin: 20px;
    display: block;
    font-size: 22px;
}

.button {
    color: #313131;
    padding: 10px 24px;
    background: #f1f1f1;
    text-decoration: none;
    border-radius: 12px;
    transition: .6s;
}

.button:hover {
    opacity: .6;
    color: #000;
}



/*5 subjects start*/

#resources-container{
  max-width: 1200px;
  width: 100%;
  height: auto;
  background-color: #FFF;
  padding: 30px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#resources-container .nav-res{
  position: relative;
  height: 50px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#resources-container .nav-res::after{
  content: "";
  background: silver;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 47px;
  filter: blur(0.5px);
}

#resources-container .nav-res label{
  position: relative;
  color: #000 ;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.card-main-res{

  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-res{
  border: solid 2px #fff;
  line-height: 20px;
  padding: 3%;
  width: 260px;
  height: auto;
  border-radius: 5%;
  background-color: #B3C1DC;
}
.card-res img{
  border-radius: 10%;
  margin-left: 0%;
  width: 200px;
  height: auto;
  cursor: pointer;
}


.card-res a{
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  font-family: 'Averia Libre', cursive;
  font-size: 19px;
  cursor: pointer;
  color: #000;
  transition: all 0.5s ease;
}
.card-res a:hover{
  color: #4C587D;
}

#resource{
  width: 20vh;
  height: 20vh;
}

#letter{
 margin-top: 20%;
}

.title{
  color: #000;
}


#blog:checked ~ .nav-res label .home,
#blog:checked ~ .nav-res label .blog,
#blog:checked ~ .nav-res label .code,
#blog:checked ~ .nav-res label .help,
#blog:checked ~ .nav-res label .about{
  color: #6F55CA;
}

input[type='radio']{
  display: none;
}
 .nav-res .slider{
  position: absolute;
  height: 4.5px;
  background-color: #6F55CA;
  border-radius: 20px;
  width: 20%;
  z-index: 1;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
  filter: blur(0.4px);
}

#blog:checked ~ .nav-res .slider{
  left: 20%;
}

#code:checked ~ .nav-res .slider{
  left: 40%;
}

#help:checked ~ .nav-res .slider{
  left: 60%;
}

#about:checked ~ .nav-res .slider{
  left: 80%;
}

#home:checked ~ .nav-res .home{
  color: #6F55CA;
}

#blog:checked ~ .nav-res .blog{
  color: #6F55CA;
}

#code:checked ~ .nav-res .code{
  color: #6F55CA;
}

#help:checked ~ .nav-res .help{
  color: #6F55CA;
}

#about:checked ~ .nav-res .about{
  color: #6F55CA;
}

section{
  filter: blur(0.3px);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .content{
  display: none;
  margin-bottom: 20px;
}

section .content .title{
  font-size: 21px;
  font-weight: 600;
  margin: 30px 0 10px 0;
}

#home:checked ~ section .content-1{
  display: block;
}

#blog:checked ~ section .content-2{
  display: block;
}

#code:checked ~ section .content-3{
  display: block;
}

#help:checked ~ section .content-4{
  display: block;
}

#about:checked ~ section .content-5{
  display: block;
}


/*responsive*/
@media all and (max-width:1120px){
  #resources-container{
    width: 70%;
    height: auto;
  }

  .content{
    width: 100%;
  }
  .card-main-res{
    margin-left: 0;

  }
  .card-res{
    width: 200px;
  }
  .card-res img{
    width: 150px;
  }
}
@media all and (max-width:980px){
  
  .card-main-res{
    margin-left: -10%;
  }
}

@media all and (max-width:840px){
  .card-main-res{
    margin-left: 3%;
    padding-left: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .card-res{
    width: 300px;
  }
  .card-res img{
    margin-left: 2%;
    width: 260px;
  }
}
@media all and (max-width:570px){

  .card-res{
    width: 250px;
  }
  .card-res img{
    width: 220px;
  }
  #resources-container .nav-res label{

    line-height: 70px;
    font-size: 12px;
    font-weight: 400; 
}
  .content p{
    font-size: 14px;
  }
}
@media all and (max-width:420px){
  
  .card-res{
    width: 200px;
  }
  .card-res img{
    width: 170px;
  }
  #resources-container .nav-res label{

    line-height: 70px;
    font-size: 10px;
    font-weight: 400; 
  }
  .content p{
      font-size: 10px;
    }
}


a {
  text-decoration: none;
}

/*CARD*/
.popular-con {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  margin-top: -12%;
 
}

.popular{
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  margin-top: -18%;
}
.card-txt{
  text-align: center;
  color: #000;
  width: 15%;
  padding: 1%;
  border-bottom: 2px solid #000;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 10%;
}

.card__container, .card__article {
  display: grid;
  gap: 2rem;
}
.card__container {
  padding-block: 4.5rem;
}
#sec-p-con{
  margin-top: -28%;
}

#third-p-con{
 margin-top: -28%;
}

.card__article {
  --hue-1: 210;
  --hue-2: 238;
  position: relative;
  justify-items: center;
  color: #000;
  text-align: center;
  padding: 4rem 2rem 3rem;
  border: 4px solid transparent;
  border-radius: 1.25rem;
  overflow: hidden;
}
.card__shape-1 {
  position: relative;
  width: 148px;
  height: 148px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 75%, 25%) 3%, hsl(var(--hue-2), 65%, 45%) 100%);
  border-radius: 2rem;
  z-index: 2;
}
.card__shape-2 {
  width: 116px;
  height: 116px;
  background: #B3C1DC;
  border-radius: 1.5rem;
}
.card__shape-3 {
  width: 76px;
  height: 76px;
  /*background: linear-gradient(140deg, hsl(var(--hue-1), 85%, 60%) 3%, hsl(var(--hue-2), 85%, 60%) 100%);*/
  border-radius: 1rem;
  display: grid;
  place-items: center;
}
.card__shape-2, .card__shape-3 {
  position: absolute;
  inset: 0;
  margin: auto;
}
.card__icon {
  font-size: 3rem;
}
.card__data {
  z-index: 3;
}

.card__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
  font-weight: 600;
}
.card__description {
  margin-bottom: 1.5rem;
}
.card__button {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  color: #313131;
  text-decoration: none;
  font-weight: 500;
  transition: .6s;

}

.card__button:hover {
    opacity: .6;
    color: #000;
}

.card__scale-1 {
  width: 148px;
  height: 148px;
  background: #4C587D;
  border-radius: 2rem;
  top: 4rem;
}
.card__scale-2 {
  width: 116px;
  height: 116px;
  background: var(--container-color);
  border-radius: 1.5rem;
  top: 5rem;
}
.card__scale-1, .card__scale-2 {
  position: absolute;
  filter: blur(24px);

}

.cad-img{
    width: 100%;
    height: auto;

}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
  .card__article {
    padding: 2rem 1rem;
  }
  .card__scale-1 {
    top: 2rem;
  }
  .card__scale-2 {
    top: 3rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .card__container {
    grid-template-columns: 328px;
  }
}
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 328px);
  }
}
/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }
  .card__container {
    grid-template-columns: repeat(3, 345px);
  }
  .card__article {
    padding: 4.5rem 2rem 3.5rem;
  }
}

/*@media all and (max-width: 1212px) {
  .tools-sec{
    height: 350vh;
  }*/
}
/*tools*/



.tools-section{
  /*max-width: 100%;*/
  margin-top: 5%;
  background-color: red;
  height: auto;
}

.tools-section .title{
  font-size: 25px;
  background-color: #B3C1DC;
  color: #000;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding: 15px;
}

.tools-section .image-container{
  columns:3 250px;
  gap: 10px;
}


.tools-section .image-container img{
  margin-bottom: 10px;
  border-radius: 5px;
  width: 60%;
  position: relative;
  cursor: pointer;
}


.under{
  width: 27%;
  z-index: 1001;
  background-color: transparent;
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.7;
}
@media all and (min-width:1120px){
  .tools-section{
  max-width: 85%;
  margin-top: 5%;
  margin-bottom: 30%;

}
}
@media all and (min-width:1196px){
  .tools-section{
  margin-bottom: 30%;

}
}





/*scholarship page start*/
.survey-main{ 
  width: 100%;
  height: auto;

}
#survey-images{
    width: 400px;
    background: #efefef;
    border-radius: 14px;
    margin-left: 30%;
    margin-top: 6%;

}
#knowlage-box{
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  padding: 2%;
  border-radius: 5px;
  line-height: 20px; 
}
#knowlage-box .tips ,#knowlage-box .main-para {
  padding: 1%;
  font-family: 'Averia Libre', cursive;
  border-left: solid 3px #000;
  color: #000;
} 
#knowlage-box .tips{
  font-weight: 400;
  font-size: 14px;
}
#knowlage-box .tips span{
  padding: 3px;
  font-weight: 600;
  font-size: 16px;
  background-color: #B3C1DC;
  font-family: 'Averia Libre', cursive;
}
#knowlage-box .main-para{
  font-size: 18px;
  font-weight: 600;
}
#scholar-p{
  font-weight: 500;
  width: 100%;
  margin-left: 3%;
  font-size: 1.3em;
  text-align: center;
}
.youth{
  text-align: center;
  text-align: center;
}

.img-container{
    padding: 20px;
}


.img-container img{
    width: 100%;
    border-radius: 12px;
    pointer-events: none;
}

.img-section-layout{
    position: relative;
    display: inline-flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.img-section-layout img{
    width: 18%;
    border-radius: 8px;
    cursor: pointer;
    filter: grayscale(1);
}

.img-section-layout img:hover{
    filter: grayscale(0);
    transform: scale(1.02);
}

#scholar-hr{
  visibility: visible;
  width: 85%;
  
  border-top: solid 6px #fff;
  margin: 5%;
  opacity: 1;
}

.bg-sec{
  position: relative;
  width: 100%;
  height: 80vh;
  color: #4C587d;
  text-align: center;
  background: rgba(49, 63, 84, 0.7) !important;
}

.bg-sec::after {
  content: " ";
  background-size: cover;
  background-position: center center;
  background-image: url(https://www.filepicker.io/api/file/6tXGehKbQ3q4dfBl2LRi);
  position: absolute;
  height: 100%vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1; 

 }
  .flip-card {
    height: 12rem;
    perspective: 50rem;
    position: absolute;
    right: 0;
    visibility: hidden;
    width: 12rem
    z-index: 100;
}
}


.countries-main{
  position: absolute;

}

/*countries section start*/

#sch{
  width: 99%;
  height: 23vh;
}

/* Main heading for card's front cover */
.card-front__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

/* Main heading for inside page */
.inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .2rem;
  width: 100%;
}

.inside-page__heading--city,.card-front__text-view--city { 
  color:  #ff40a1;
   }

.inside-page__heading--ski,.card-front__text-view--ski { 
  color: #ff40a1;
   }

.inside-page__heading--beach,.card-front__text-view--beach { 
  color: #ff40a1; 
}

.inside-page__heading--camping,
.card-front__text-view--camping { 
  color: #ff40a1;
   }

/* Front cover */

.card-front__tp { 
  color: #fafbfa; 
}

/* For pricing text on card front cover */
.card-front__text-percent {
  width: 100%;
  font-size: 1.2rem;
  margin-top: -.2rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: #333;
}


/* Buttons*/

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1%;
  overflow: hidden;
  padding: 2%;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 90%;
  z-index: 10;
}

.inside-page__btn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all .3s ease;
  width: 100%;
  z-index: -1;
}

.inside-page__btn--city { 
  border-color: #ff40a1;
  color: #ff40a1;
}

.inside-page__btn--city::before { 
  background-color: #ff40a1;
}

.inside-page__btn--ski { 
  border-color: #ff40a1;
  color: #ff40a1;
}

.inside-page__btn--ski::before { 
  background-color: #ff40a1;
}

.inside-page__btn--beach { 
  border-color: #279eb2;
  color: #279eb2;
}

.inside-page__btn--beach::before { 
  background-color: #279eb2;
}

.inside-page__btn--camping { 
  border-color: #279eb2;
  color: #279eb2;
}

.inside-page__btn--camping::before { 
  background-color: #279eb2;
}

.inside-page__btn:hover { 
  color: #fafbfa;
}

.inside-page__btn:hover::before { 
  transform: scaleY(1);
}

/* Layout Structure*/

.main {
  
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  margin-top: -5%;

  padding-left: 10%;
  padding-right: 10%;
  margin-left: 5%;
}

/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Card */

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* A container to hold the flip card and the inside page */
.card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15.3rem;
  position: relative;
  transition: all 1s ease;
  width: 12rem;
}



/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.card-front__tp--city {
  background: linear-gradient(
    to bottom,
    #ff73b9,
    #ff40a1
  );
}

.card-front__tp--ski {
  background: linear-gradient(
    to bottom,
    #ff73b9,
    #ff40a1
  );
}

.card-front__tp--beach {
  background: linear-gradient(
    to bottom,
    #ff73b9,
    #ff40a1
  );
}

.card-front__tp--camping {
  background: linear-gradient(
    to bottom,
    #00db93,
    #00b97d
  );
}

/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}

/* Make the background image cover the entire viewport */
.bg-sec::after {
    /* ... Existing styles ... */
    background-size: cover;
}


/*accordion section start */
  .faqsch-main{
     background-color: #BAD0E7;
     padding-top: 5%;
     padding-bottom: 5%;
     margin-left: 10%;

  
  }
  .faq{
    background-color: #BAD0E7;
  }
    .faq-scholar{
      width: 80%;
      background-color: #fff;
    }
    .header{
            border-radius: 10px 10px 0px 0px;
            padding: 10px 0px;
            background: #4C587D;
            color: #fff;
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: center;
            
          }

      .header h1{
        font-family: 'Averia Libre', cursive;
        font-weight: 900;
        cursor: pointer;
      }
      .faq-item{
        margin-bottom: 30px;
        margin-top: 30px;
      }
      .faq-item h3{
        font-family: 'Averia Libre', cursive;
        font-weight: 900;
        font-size: 1.5em;
      }
      .faq-body{
        display: none;
        margin-top: 30px;
      }
      .faq-wrapper{
        width: 75%;
        margin: 0 auto; 
      }
      .faq-inner{
        padding: 30px;
        background: aliceblue;
      }
      .faq-plus{
        float: right;
        font-size: 1.4em;
        line-height: 1em;
        cursor: pointer;
      }
      hr{
        background-color: #9b9b9b;
      }

@media all and (max-width:813px){
    .card-area{
      display: flex;
      flex-direction: column;
      margin-top: 65%;
    }
    .bg-sec{
      height: 200vh;
    }
}
@media all and (max-width:600px){
    .card-area{
      margin-top: 80%;
    }
}
@media all and (max-width:600px){
    .card-area{
      margin-top: 100%;
      margin-bottom: -10%
    }
    #survey-images{
      width: 250px;
    }
}